html { height: 100% 
	}
	
body { 
  font-family: Verdana, Arial;
  font-size: 13px;
  height: 100%;
  width:100%;
  margin: 0; 
  padding: 0;
  background:#333;
}

h2 {
color:#FAFAFA;	
display:block;
margin: 10px 0px 10px 10px;
}

#map_canvas { 
  background-color: #ECECEC;;
  width: 70%;
  height:100%;
  display:block;
  float:left;
}

#chat {
float:left;
display:block;
width: 28%;
height:100%;
overflow: auto; /* <label id="code.overflow" /> */
background-color: #fff;
padding: 10px;
overflow:hidden;


}
chat ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 10px;
}


#chat_wrapper h2{
  margin: 0;
}

