html { height: 100% }
body { 
  font-family: Verdana, Arial;
  font-size: 13px;
  height: 100%; margin: 0; padding: 0 
}

#routeContent {
  display: table;
  width: 100%;
}
#map_canvas { 
  background-color: #ECECEC;;
  display: table-cell;
  width: 70%;
}

aside {
  display: table-cell;
  width: 30%;
}
aside ul {
  list-style-type: none;
  padding-left: 0;
  font-size: 10px;
}
#asideContent {
  min-height: 700px;
}


#chat_wrapper h2{
  margin: 0;
}

#chat{
  height: 300px; 
  overflow: auto; /* <label id="code.overflow" /> */
  background-color: #fff;
  padding: 10px;
}
